.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--Mobile-Navbar-Height) - var(--Mobile-Footer-Height));
    width: 100%;
}

.login{
    width: 100%;
}

.login_isEntreprise{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.login_header{
    font-size: 1.1rem;
    text-align: center;
    margin: var(--Mobile-Element-Bottom-Margin) 0;
}

.login_submit{
    display: flex;
    justify-content: flex-end;
}

.login_submit_btn{
    padding: .7rem;
    background-color: var(--Primary-Color);
    border-radius: 10px;
}